body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    height: 500px;
    width: 500px;
    align-self: center;
    justify-self: center;
}

.column{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 0.5px solid black;
    box-sizing: border-box;
}

.row{
    flex: 1;
    border: 0.5px solid black;
      box-sizing: border-box;
}

.buttonContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
